
.DS_Store
J4Q_46.0/.cxx
J4Q_46.0/.gradle
J4Q_46.0/.idea
J4Q_46.0/build
J4Q_46.0/local.properties
/J4Q_85.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.cxx
/J4Q_85.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.gradle
/J4Q_85.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.idea
/J4Q_85.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/build
/J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.cxx
/J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.gradle
/J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/.idea
/J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/build
J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/local.properties
/J4Q_85.0/Samples/.gradle
J4Q_85.0/Samples/XrSamples/XrCompositor_NativeActivity/Projects/Android/local.properties
/J4Q_46.0/Samples/XrSamples/XrCompositor_NativeActivity/.idea
/J4Q_46.0/JavaForQuest/Projects/Sandbox/.cxx
/J4Q_46.0/JavaForQuest/Projects/Sandbox/.gradle
/J4Q_46.0/JavaForQuest/Projects/Sandbox/.idea
/J4Q_46.0/JavaForQuest/Projects/Sandbox/build
J4Q_46.0/JavaForQuest/Projects/Sandbox/local.properties
/J4Q_85.0/JavaForQuest/Projects/Sandbox/.cxx
/J4Q_85.0/JavaForQuest/Projects/Sandbox/.gradle
/J4Q_85.0/JavaForQuest/Projects/Sandbox/.idea
/J4Q_85.0/JavaForQuest/Projects/Sandbox/build
J4Q_85.0/JavaForQuest/Projects/Sandbox/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloObjectMaker/build
/J4Q_85.0/JavaForQuest/Projects/HelloObjectMaker/build
/J4Q_46.0/JavaForQuest/Projects/HelloObjectMaker/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloObjectMaker/.gradle
/J4Q_46.0/JavaForQuest/Projects/EndlessUniverse/.cxx
/J4Q_46.0/JavaForQuest/Projects/EndlessUniverse/.gradle
/J4Q_46.0/JavaForQuest/Projects/EndlessUniverse/.idea
/J4Q_46.0/JavaForQuest/Projects/EndlessUniverse/build
J4Q_46.0/JavaForQuest/Projects/EndlessUniverse/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloAnimation/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloAnimation/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloAnimation/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloAnimation/build
J4Q_46.0/JavaForQuest/Projects/HelloAnimation/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloControllers/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloControllers/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloControllers/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloControllers/build
J4Q_46.0/JavaForQuest/Projects/HelloControllers/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloNormals/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloNormals/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloNormals/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloNormals/build
J4Q_46.0/JavaForQuest/Projects/HelloNormals/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloObjectClass/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloObjectClass/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloObjectClass/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloObjectClass/build
J4Q_46.0/JavaForQuest/Projects/HelloObjectClass/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloObjectMaker/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloObjectMaker/.idea
J4Q_46.0/JavaForQuest/Projects/HelloObjectMaker/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloPolygon/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloPolygon/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloPolygon/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloPolygon/build
J4Q_46.0/JavaForQuest/Projects/HelloPolygon/local.properties
/J4Q_46.0/JavaForQuest/Projects/HelloTexture/.cxx
/J4Q_46.0/JavaForQuest/Projects/HelloTexture/.gradle
/J4Q_46.0/JavaForQuest/Projects/HelloTexture/.idea
/J4Q_46.0/JavaForQuest/Projects/HelloTexture/build
J4Q_46.0/JavaForQuest/Projects/HelloTexture/local.properties
/J4Q_46.0/JavaForQuest/Projects/OBJViewer/.cxx
/J4Q_46.0/JavaForQuest/Projects/OBJViewer/.gradle
/J4Q_46.0/JavaForQuest/Projects/OBJViewer/.idea
/J4Q_46.0/JavaForQuest/Projects/OBJViewer/build
J4Q_46.0/JavaForQuest/Projects/OBJViewer/local.properties
/J4Q_85.0/JavaForQuest/Projects/EndlessUniverse/.gradle
/J4Q_85.0/JavaForQuest/Projects/EndlessUniverse/.idea
/J4Q_85.0/JavaForQuest/Projects/EndlessUniverse/build
J4Q_85.0/JavaForQuest/Projects/EndlessUniverse/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloAnimation/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloAnimation/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloAnimation/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloAnimation/build
J4Q_85.0/JavaForQuest/Projects/HelloAnimation/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloControllers/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloControllers/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloControllers/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloControllers/build
J4Q_85.0/JavaForQuest/Projects/HelloControllers/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloNormals/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloNormals/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloNormals/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloNormals/build
J4Q_85.0/JavaForQuest/Projects/HelloNormals/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloObjectClass/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloObjectClass/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloObjectClass/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloObjectClass/build
J4Q_85.0/JavaForQuest/Projects/HelloObjectClass/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloObjectMaker/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloObjectMaker/.idea
J4Q_85.0/JavaForQuest/Projects/HelloObjectMaker/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloPolygon/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloPolygon/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloPolygon/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloPolygon/build
J4Q_85.0/JavaForQuest/Projects/HelloPolygon/local.properties
/J4Q_85.0/JavaForQuest/Projects/HelloTexture/.cxx
/J4Q_85.0/JavaForQuest/Projects/HelloTexture/.gradle
/J4Q_85.0/JavaForQuest/Projects/HelloTexture/.idea
/J4Q_85.0/JavaForQuest/Projects/HelloTexture/build
J4Q_85.0/JavaForQuest/Projects/HelloTexture/local.properties
/J4Q_85.0/JavaForQuest/Projects/OBJViewer/.cxx
/J4Q_85.0/JavaForQuest/Projects/OBJViewer/.gradle
/J4Q_85.0/JavaForQuest/Projects/OBJViewer/.idea
/J4Q_85.0/JavaForQuest/Projects/OBJViewer/build
J4Q_85.0/JavaForQuest/Projects/OBJViewer/local.properties
